body {
    overflow-x: hidden; /* esconde a barra de rolagem horizontal */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Alterado para coluna para acomodar a barra superior */
    height: 100vh;
    align-items: stretch; /* Alterado para 'stretch' para preencher a largura */
}

.container {
    display: flex;
    width: 100vw; /* Define a largura como a largura total da viewport */
    height: 100vh;
    flex-grow: 1; 
    background-color: #ffffff;
}

h2 {
    margin-bottom: 7px;
	font-weight: bold;

}

p {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}


a {
    text-decoration: none;
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #333;
}

.logo img {
    max-width: 200px; /* ou a largura que você deseja */
    height: auto; /* mantém a proporção da imagem */
}

::placeholder {
    color: #ccc;
}

input:focus::placeholder {
    color: transparent;
}

.top-bar {
    background-color: #0cc0df;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100vw;
    margin-bottom: 50px;
}

.top-links, .bottom-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-links a, .right-links a, .right-links span {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

.left-links {
    margin-left: 30px;
}

.right-links {
    margin-right: 30px;
}

.top-links a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.logo-container img, .cart-container img {
    height: 50px; /* Ajuste a altura conforme necessário */
}

.search-container {
    display: flex;
    position: relative;
}

#tab{
    margin-left: -10px;
    margin-right: -10px;
}

.search-container input {
    padding: 5px;
    border: none;
    border-radius: 8px;
    margin-right: 5px;
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
    width: 100%; /* Aumente a largura da barra de pesquisa */
    padding: 10px 500px 10px 10px;
}

.search-container .fa-search {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translateY(-50%);
    color: #0cc0df;
    cursor: pointer;
}

#search-icon {
    background: none;
    border: none;
    cursor: pointer;
}

#search-icon .fas {
    color: #0cc0df;
}

.cart-container img {
    max-width: 33px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 90px;
    margin-left: 100px;
}

.top-bar-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo-container {
    margin-top: 10px; /* Espaço entre os links e a logo */
}

.logo-container img {
    max-width: 200px; /* Ajuste conforme necessário */
    height: auto;
    margin-left: 25px;
    margin-bottom: 10px;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
}

.cart-icon {
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

/* CSS personalizado para colunas de 5 produtos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    width: 80%;
}

.col-custom {
    width: 20%; /* 100% / 5 produtos por fileira */
    float: left;
    padding: 30px; /* Espaçamento entre os produtos */
}

.product-item {
    text-align: left;
    margin-bottom: 10px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 14px;
    color: #555;
}

.product-item .price {
    font-weight: bold;
    color:#0cc0df;
    
}

@media (max-width: 1200px) {
    .col-custom {
        width: 25%; /* 4 produtos por fileira em telas menores */
    }
}

@media (max-width: 992px) {
    .col-custom {
        width: 33.3333%; /* 3 produtos por fileira em telas ainda menores */
    }
}

@media (max-width: 768px) {
    .col-custom {
        width: 50%; /* 2 produtos por fileira em tablets */
    }
}

@media (max-width: 576px) {
    .col-custom {
        width: 100%; /* 1 produto por fileira em celulares */
    }
}
.store-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 180px;
    margin-right: 180px;
}

.store-info {
    display: flex;
    align-items: center;
}

.store-image {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 10px;
}

.store-name {
    font-weight: bold;
    color: #0cc0df;
    font-size: 40px;
    margin-left: 15px;
}

.store-status {
    text-align: right;
    color: #0cc0df;
    font-size: 18px;

}

.product-management {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 25px;
    margin-bottom: -15px;
    
}
.my-products {
    font-weight: bold;
    color: #989898;
    font-size: 18px;
}

.new-product-link {
    text-decoration: none;
    color: #0cc0df;
    font-size: 18px;
}
.new-product-link {
    color: #0cc0df; /* Texto azul para 'Meus Produtos' e 'Novo Produto' */
    font-weight: bold;
}
.store-status a {
    color: #0cc0df; /* Texto azul para o nome da loja e status de pedidos */
    font-weight: bold;
}